{% extends 'general/layout.html' %}

{% block head_title %}Search{% endblock %}
{% block page_title %}Inicia tu búsqueda{% endblock %}

{% block page_content %}
    <h2>Busca autores, libros o editoriales:</h2>
    <!-- <div>
        <form action="" method="get">
            <label for="">Introduce cualquier cadena de texto:</label>
            <input type="text" name="query" required value="{% if request.GET %}{{ request.GET.query }}{% endif %}">
            <button type="submit">Buscar</button>
        </form>
    </div> -->
    <div>
        <form action="">
            {{ formulario.as_p }}
            <button>Enviar</button>
        </form>
    </div>
    
    {% if request.GET %}
        <div>
        <h3>Resultados para la búsqueda: {{ request.GET.q }}</h3>
        <h4>Autores</h4>
        {% if autores %}
            <ul>
            {% for autor in autores %}
                <li>{{ autor.nombre }}</li>
            {% endfor %}
            </ul>
        {% else %}
            <p>No hay autores para esa búsqueda</p>
        {% endif %}
        <h4>Libros</h4>
        {% if libros %}
            <ul>
            {% for libro in libros %}
                <li>{{ libro.titulo }}</li>
            {% endfor %}
            </ul>
        {% else %}
            <p>No hay libros para esa búsqueda</p>    
        {% endif %}
        <h4>Editoriales</h4>
        {% if editoriales %}
            <ul>
            {% for editorial in editoriales %}
                <li>{{ editorial.nombre }}</li>
            {% endfor %}
            </ul>
        {% else %}
            <p>No hay editoriales para esa búsqueda</p> 
        {% endif %}
        </div>
    {% endif %}
{% endblock %}