{% extends 'general/layout.html' %}

{% block head_title %}Editorial{% endblock %}
{% block page_title %}Nuestras editoriales{% endblock %}

{% block page_content %}
    <h2>Lista completa de Editoriales</h2>
    {% if editoriales %}
        {% for editorial in editoriales %}
            <li><a href="{% url 'books:editorial_detail' editorial.id %}">{{ editorial }}</a></li>
        {% endfor %}
    {% endif %}
    <ul>
        <li><a href="{% url 'books:editorial_create' %}">Nueva editorial</a></li>
    </ul>

{% endblock %}