{% extends 'general/layout.html' %}

{% load crispy_forms_tags %}

{% block head_title %}Página de Editoriales{% endblock %}
{% block page_title %}Nueva Editorial{% endblock %}

{% block page_content %}
    <h2>Datos de la Editorial</h2>
    <form action="" method="POST">
        {% csrf_token %}
        <div class="row">
            <div class="col-12 col-md-6">
                {{ form.nombre|as_crispy_field }}
                {{ form.email|as_crispy_field }}
            </div>
            <div class="col-12 col-md-6">
                {{ form.fecha_fundacion|as_crispy_field }}
                {{ form.level|as_crispy_field }}
            </div>
        <button class="btn btn-success">Crear Editorial</button>
        <a href="{% url 'editorial:list' %}">Cancelar</a>
    </form>

{% endblock %}