<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Autores</title>
</head>
<body>
    <h1>Autores</h1>
    <nav>
        <ul>
            <li><a href="/">Inicio</a></li>
            <li><a href="/autor">Autores</a></li>
            <li><a href="/libro">Libros</a></li>
            <li><a href="/editorial">Editoriales</a></li>
            <li><a href="/contact">Contacto</a></li>
        </ul>
    </nav>
</body>
</html>